Templates/In-Work/*
kcswalter's Libraries/*
3D/Solidworks/*
*.zip
*.wings~
3D/Discrete/Passive/Capacitors/VRML/c_elec_10x10.wrl
3D/Discrete/Passive/Capacitors/VRML/c_elec_10x10_5.wrl
3D/Discrete/Passive/Capacitors/VRML/c_elec_10x7_7.wrl
3D/Discrete/Passive/Capacitors/VRML/c_elec_12_5x13_5.wrl
3D/Discrete/Passive/Capacitors/VRML/c_elec_12_5x16.wrl
3D/Discrete/Passive/Capacitors/VRML/c_elec_16x16_5.wrl
3D/Discrete/Passive/Capacitors/VRML/c_elec_3x5_3.wrl
3D/Discrete/Passive/Capacitors/VRML/c_elec_4x4_5.wrl
3D/Discrete/Passive/Capacitors/VRML/c_elec_4x5_3.wrl
3D/Discrete/Passive/Capacitors/VRML/c_elec_4x5_7.wrl
3D/Discrete/Passive/Capacitors/VRML/c_elec_4x5_8.wrl
3D/Discrete/Passive/Capacitors/VRML/c_elec_5x4_5.wrl
3D/Discrete/Passive/Capacitors/VRML/c_elec_5x5_3.wrl
3D/Discrete/Passive/Capacitors/VRML/c_elec_5x5_7.wrl
3D/Discrete/Passive/Capacitors/VRML/c_elec_5x5_8.wrl
3D/Discrete/Passive/Capacitors/VRML/c_elec_6_3x4_5.wrl
3D/Discrete/Passive/Capacitors/VRML/c_elec_6_3x5_3.wrl
3D/Discrete/Passive/Capacitors/VRML/c_elec_6_3x5_7.wrl
3D/Discrete/Passive/Capacitors/VRML/c_elec_6_3x5_8.wrl
3D/Discrete/Passive/Capacitors/VRML/c_elec_6_3x7_7.wrl
3D/Discrete/Passive/Capacitors/VRML/c_elec_8x10.wrl
3D/Discrete/Passive/Capacitors/VRML/c_elec_8x10_5.wrl
3D/Discrete/Passive/Capacitors/VRML/c_elec_8x6_5.wrl
3D/Discrete/Passive/Capacitors/VRML/c_elec_8x6_7.wrl
3D/Discrete/Passive/Capacitors/VRML/c_tant_A.wrl
3D/Discrete/Passive/Capacitors/VRML/c_tant_B.wrl
3D/Discrete/Passive/Capacitors/VRML/c_tant_C.wrl
3D/Discrete/Passive/Capacitors/VRML/c_tant_D.wrl
3D/Discrete/Passive/Capacitors/VRML/c_tant_E.wrl
3D/Discrete/Passive/Capacitors/VRML/c_tant_R.wrl
3D/Discrete/Passive/Capacitors/VRML/c_tant_S.wrl
3D/Discrete/Passive/Capacitors/VRML/c_tant_T.wrl
3D/Discrete/Passive/Capacitors/VRML/c_tant_U.wrl
3D/Discrete/Passive/Capacitors/VRML/c_tant_V.wrl
3D/Discrete/Passive/Capacitors/VRML/c_tant_X.wrl
3D/Discrete/Passive/Capacitors/VRML/C0603 (2).wrl
3D/Discrete/Passive/Capacitors/VRML/C0805 (2).wrl
3D/Discrete/Passive/Capacitors/Wings3D/c_elec_10x10.wings
3D/Discrete/Passive/Capacitors/Wings3D/c_elec_10x10_5.wings
3D/Discrete/Passive/Capacitors/Wings3D/c_elec_10x7_7.wings
3D/Discrete/Passive/Capacitors/Wings3D/c_elec_12_5x13_5.wings
3D/Discrete/Passive/Capacitors/Wings3D/c_elec_12_5x16.wings
3D/Discrete/Passive/Capacitors/Wings3D/c_elec_16x16_5.wings
3D/Discrete/Passive/Capacitors/Wings3D/c_elec_3x5_3.wings
3D/Discrete/Passive/Capacitors/Wings3D/c_elec_4x4_5.wings
3D/Discrete/Passive/Capacitors/Wings3D/c_elec_4x5_3.wings
3D/Discrete/Passive/Capacitors/Wings3D/c_elec_4x5_7.wings
3D/Discrete/Passive/Capacitors/Wings3D/c_elec_4x5_8.wings
3D/Discrete/Passive/Capacitors/Wings3D/c_elec_5x4_5.wings
3D/Discrete/Passive/Capacitors/Wings3D/c_elec_5x5_3.wings
3D/Discrete/Passive/Capacitors/Wings3D/c_elec_5x5_7.wings
3D/Discrete/Passive/Capacitors/Wings3D/c_elec_5x5_8.wings
3D/Discrete/Passive/Capacitors/Wings3D/c_elec_6_3x4_5.wings
3D/Discrete/Passive/Capacitors/Wings3D/c_elec_6_3x5_3.wings
3D/Discrete/Passive/Capacitors/Wings3D/c_elec_6_3x5_7.wings
3D/Discrete/Passive/Capacitors/Wings3D/c_elec_6_3x5_8.wings
3D/Discrete/Passive/Capacitors/Wings3D/c_elec_6_3x7_7.wings
3D/Discrete/Passive/Capacitors/Wings3D/c_elec_8x10.wings
3D/Discrete/Passive/Capacitors/Wings3D/c_elec_8x10_5.wings
3D/Discrete/Passive/Capacitors/Wings3D/c_elec_8x6_5.wings
3D/Discrete/Passive/Capacitors/Wings3D/c_elec_8x6_7.wings
3D/Discrete/Passive/Capacitors/Wings3D/c_tant_A.wings
3D/Discrete/Passive/Capacitors/Wings3D/c_tant_B.wings
3D/Discrete/Passive/Capacitors/Wings3D/c_tant_C.wings
3D/Discrete/Passive/Capacitors/Wings3D/c_tant_D.wings
3D/Discrete/Passive/Capacitors/Wings3D/c_tant_E.wings
3D/Discrete/Passive/Capacitors/Wings3D/c_tant_R.wings
3D/Discrete/Passive/Capacitors/Wings3D/c_tant_S.wings
3D/Discrete/Passive/Capacitors/Wings3D/c_tant_T.wings
3D/Discrete/Passive/Capacitors/Wings3D/c_tant_U.wings
3D/Discrete/Passive/Capacitors/Wings3D/c_tant_V.wings
3D/Discrete/Passive/Capacitors/Wings3D/c_tant_X.wings
3D/Discrete/Passive/Capacitors/Wings3D/C0603_OLD.wings
3D/Discrete/Passive/Capacitors/Wings3D/C0805_OLD.wings
3D/Discrete/Passive/Resistors/VRML/r_cat16-2.wrl
3D/Discrete/Passive/Resistors/VRML/r_cat16-4.wrl
3D/Discrete/Passive/Resistors/VRML/r_cat16-8.wrl
3D/Discrete/Passive/Resistors/Wings3D/r_cat16-2.wings
3D/Discrete/Passive/Resistors/Wings3D/r_cat16-4.wings
3D/Discrete/Passive/Resistors/Wings3D/r_cat16-8.wings
3D/Discrete/Passive/Resistors/Wings3D/R0603_OLD.wings
3D/kicad3dmodels_src_20121215.tar.gz
3D/Wings_3D_Library_Info.xlsx
KiCAD ToDo.rtf
KiCAD_Design_Rules.xlsx
KiCAD_Libraries.png
Microchip_Packaging_Specification.pdf
PCB/CascoLogixLogoTitleBlock.kicad_wks
PCB/circuit board drills.xlsx
PCB/Footprint Guidelines/Capacitor_Electrolytic_Axial_PTH_Epcos.pdf
PCB/Footprint Guidelines/Capacitor_Electrolytic_Axial_PTH_Kemet.pdf
PCB/Footprint Guidelines/Capacitor_Electrolytic_Axial_PTH_Vishay.pdf
PCB/Footprint Guidelines/Leaded-R_CFR_2011.pdf
PCB/Footprint Guidelines/Mentor_Graphics_AppNote_10835_Level_A_Land_Pattern_Construction.pdf
PCB/Footprint Guidelines/Mentor_Graphics_Appnote_10836_Proportional_Through-hole_Padstacks.pdf
PCB/Footprint Guidelines/Quick & Easy Land Pattern Creation.pdf
PCB/Footprint Guidelines/Resistors.pdf
PCB/Outline.mod
PCB/Reference Designator « Tom Hausherr's Blog.pdf
Schematic/.hgignore
Schematic/audio.dcm
Schematic/BGA-676.lib
smt_notes.pdf
sync.ffs_db
TI_MSP430_v16.lbr
KiCAD Feature Requests.rtf
Library component creation process.rtf
